# Django настройки
SECRET_KEY=my_secret_key

# PostgreSQL настройки (для Docker HOST=db)
NAME=my_name
USER=my_user
PASSWORD=my_password
HOST=db
PORT=5432

# STRIPE настройки
STRIPE_API_KEY=my_api_key
API_URL=api_url

# Redis настройки (для Docker LOCATION=redis://redis:6379/0)
LOCATION=my_location

# Telegram API настройки
TELEGRAM_TOKEN=my_telegram_token